.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  background: black;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin-top: 50px;
}

.subcontainer {
  border: 3px solid black;
  border-radius: 3px;
  height: 90px;
  width: 210px;
}

.subcontainer p span {
  font-weight: bolder;
  margin-left: 10px;
}