.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container button {
  margin-top: 10px;
}

.subcontainer {
  border: 3px solid black;
  border-radius: 5px;
  height: 150px;
  padding: 40px;
}

.subcontainer input {
  border-radius: 3px;
  padding: 5px;
}

.subcontainer button {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}