.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}



.container p {
  background: black;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  color: white;
}